.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  padding: 16px;
  z-index: 9999;
  background-color: #fff;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo .logo__icon {
  width: 45px;
  height: 45px;
  background: url('../img/logo2x.png') center center / contain no-repeat;
}

.logo .logo__info {
  display: flex;
  flex-flow: column;
}

.logo .logo__brand-name {
  font-size: 2.2rem;
  font-weight: 600;
}

.logo .logo__brand-name > span {
  color: var(--secondary-color);
}

.nav {
  display: flex;
  justify-content: center;
}

.nav .nav__list {
  height: 100%;
  display: flex;
  gap: 46px;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 46px;
}

.nav .nav__list-item:first-child .nav__list-item-link {
  color: var(--secondary-color);
}

.nav .nav__list-item:not(:first-child) .nav__list-item-link {
  text-decoration: none;
  color: var(--primary-color)
}

.container {
  margin-top: 128px;
  position: relative;
}

.section {

}

.section__header {
  position: relative;
}

.section .section__header-info {
  width: 272px;
}

.section .section__header-info--left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
} 

.section .section__header-info--right {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  padding: 16px;
}  

.section .section__header-info-img {
  width: 100%;
} 

.section .section__heading {
  font-size: 4.9rem;
  font-weight: 700;
  line-height: 97.5%;
  letter-spacing: -0.02em;
  color: var(--primary-color);
  margin-top: 26px;
}

.section .section__heading--small {
  font-size: 2.4rem;
}

/* 
.section .section__heading::after {
  content: ".";
  display: inline-block;
  color: var(--secondary-color);
} */

.section .section__sub-heading {
  color: #5E688B;
  font-size: 1.4rem;
  line-height: 1.6;
}

.section .section__line {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.section .section__line--separate {
  border-top: 2px solid var(--secondary-color);
  width: 216px;
  display: inline-block;
}

.section .section__header-content {
  padding-left: 164px;
  /* margin-bottom: 101px; */
}

.section .section__header-img-list {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

.section .section__header-img-item {
  display: block;
  width: 100%;
  height: 100%;
}

.section .section__header-img-item--collapse {
  grid-row: 1 / span 2;
  object-fit: cover;
}

.section .section__header-pagination {
  margin-top: 16px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.section .section__header-pagination-item {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
}

.section .section__header-pagination-item--active {
  background-color: var(--secondary-color);
}

.section .section__container {
  margin-top: 48px;
}

.section .section__container-info-list {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 48px;
  column-gap: 20px;
}

.section .section__container-info-item {
  position: relative;
}

.section .section__container-info-item--full-1 {
  grid-area: 2 / 1 / span 1 / span 2;
  display: flex;
}

.section .section__container-info-item--full-2 {
  grid-area: 3 / 1 / span 1 / span 2;
  display: flex;
}

.section .section__container-info-item-img {
  /* width: 100%; */
  display: block;
  flex: 3;
}

.section .section__container-info-item-img > img {
  width: 100%;
}

.section .section__container-info-item-caption {
  min-width: 146px;
  flex: 1;
}

.section .section__container-info-item-heading {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.4;
}

.section .section__container-info-item-sub-heading {
  font-size: 1.4rem;
  color: #5E688B;
  line-height: 1.4;
}

.section .section__container-teams {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
}

.section .member {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}

.section .member__avatar {

}

.section .member__name {
  font-size: 1.6rem;
}

.section .member__position {
  font-size: 1.2rem;
}

.section .member__desc {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #5E688B;
}

.section .section__cotainer-table-product {
  width: 100%;
  font-size: 1.4rem;
  color: var(--primary-color);
  border-spacing: 20px 0;
  border-collapse: separate;
}

.section__cotainer-table-product tr,
.section__cotainer-table-product td {
  /* border-top: 1px  solid var(--secondary-color); */
  border-bottom: 1px  solid var(--secondary-color);
  padding: 16px;
}

.section .form__question {
  display: flex;
  flex-flow: column;
  width: 557px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 1.4rem;
  gap: 10px;
}

.section .form__question_label {
  font-weight: 600;
}

.section .form__question_label:first-child {
  color: var(--secondary-color);
}

.section .form__question-input {
  border: none;
  border-bottom: 1px solid #C5CFF3;
  padding: 8px;
}

.section .form__question-input:focus-visible {
  outline: auto 1px var(--secondary-color);
}

.section .section__container-contact {
  display: flex;
  justify-content: center;
}

.footer {
  margin-top: 64px;
}

.footer .footer__container {
  display: flex;
  padding: 32px;
  background-color: #f7f1f1;
}

.footer .footer__brand {
  flex: 1;
}

.footer .footer__contact {
  flex: 1;
  font-size: 1.4rem;
  line-height: 1.6;
}
 
.footer .footer__copyright {
  font-size: 1.6rem;
  background-color: var(--primary-color);
  color: var(--text-white-color);
  padding: 16px;
}

.footer .footer__company {
  font-size: 1.4rem;
  line-height: 1.6;
  padding: 8px 0;
  width: 235px;
  max-width: 100%;
}

.footer .footer__social-icons {
  font-size: 2.4rem;
  color: var(--secondary-color);
}

/* .m-px-32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
} */