@media (max-width: 1024px) {
  .m-px-16 {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .m-px-32 {
    padding-left: 32px !important;
    padding-right: 32px !important;
  }

  .nav .nav__list { 
    gap: 16px;
    margin-right: 16px;
  }

  .m-btn--small {
    padding: 4px 24px;
  }

  .container {
    margin-top: 64px;
  }

  .section .section__heading {
    font-size: 2.4rem;
    margin-top: 16px;
  }

  .section .section__container-teams {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  .section .section__header-content {
    padding-left: 64px;
  }
}

@media (max-width: 764px) {
  .m-btn--small {
    background-color: #fff;
    border: 1px solid #00A3FF;
    color: #00A3FF;
    padding: 16px 26px;
  }

  .m-btn--blue {
    background-color: #00A3FF;
    color: #fff;
  }

  .m-center {
    align-self: center;
  }

  .m-hide {
    display: none !important;
  }

  .nav .nav__list {
    display: none;
  }

  .footer .footer__container {
    flex-flow: column;
    align-items: center;
    gap: 10px;
  }

  .section .section__header-info {
    position: relative;
    margin: 16px auto;
    transform: none; 
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 0;
  }

  .section .section__heading {
    font-size: 2.8rem;
    margin-top: 16px;
  }

  .section .section__header-content {
    padding-left: 0;
  }
}